/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.listening-code-block del {
    text-decoration: none; /* 移除默认删除线 */
    position: relative; /* 为伪元素定位提供基准 */
    display: inline; /* 或者 inline-block，根据需要调整 */
}

.listening-code-block del::after {
    content: '';
    position: absolute;
    left: -5%;
    bottom: 34%;
    width: 120%;
    height: 2px;
    background-color: #fff;
    /* transform: rotate(65deg); */
    transform-origin: left center; /* 设置旋转中心点为左侧中间 */
    pointer-events: none; /* 确保伪元素不会干扰鼠标事件 */
}